{"openapi":"3.1.0","info":{"title":"Lunenburg Budget Project \u2014 read-only data API","version":"1","description":"An independent archive of the Lunenburg, Massachusetts town and school budget. Static JSON, no authentication, no rate limit, nothing computed per request. Read /api/schema before computing anything: it states the grain of every table and the specific ways to get a confident wrong answer out of this data."},"servers":[{"url":"https://lunenburgbudgetproject.org"}],"paths":{"/api/schema":{"get":{"summary":"Read this first. Grain, conventions, and the four ways to get a confident wrong answer.","responses":{"200":{"description":"9235 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/coverage":{"get":{"summary":"What we hold for each fiscal year.","responses":{"200":{"description":"3160 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/ledger":{"get":{"summary":"The town's books, every account and period.","responses":{"200":{"description":"404818 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/lines":{"get":{"summary":"Index of every budget line. Each row carries the URL of that one line's figures.","responses":{"200":{"description":"114833 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/workbook":{"get":{"summary":"The FY27 workbook, one file per year.","responses":{"200":{"description":"909 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/totals":{"get":{"summary":"Whole-year budget against actual.","responses":{"200":{"description":"984 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/funding":{"get":{"summary":"Revenue, transfers, funds and grants.","responses":{"200":{"description":"121771 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/documents":{"get":{"summary":"Provenance for every source.","responses":{"200":{"description":"285457 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/query":{"get":{"summary":"Ask a question in SQL instead of downloading a table. Read-only, one statement, provenance with every answer.","responses":{"200":{"description":"0 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/questions":{"get":{"summary":"107 worked examples: a question, the SQL that answers it, and the columns it returns. Every one is executed on each build.","responses":{"200":{"description":"0 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/tables":{"get":{"summary":"EVERY dataset in the project, fetchable, with its size. Staff rosters, placement counts, annual-report extracts \u2014 the raw grain the endpoints above are built from.","responses":{"200":{"description":"9583 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/annual_report_catalogue":{"get":{"summary":"The `annual_report_catalogue` table. 863 rows, split by fy into 15 files.","responses":{"200":{"description":"2238 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/annual_report_contents":{"get":{"summary":"The `annual_report_contents` table. 199 rows.","responses":{"200":{"description":"62921 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/annual_report_receipts":{"get":{"summary":"The `annual_report_receipts` table. 1,137 rows, split by fy into 13 files.","responses":{"200":{"description":"1890 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/annual_report_survey":{"get":{"summary":"The `annual_report_survey` table. 2,751 rows, split by fy into 15 files.","responses":{"200":{"description":"2130 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/athletic_fee_schedule":{"get":{"summary":"The `athletic_fee_schedule` table. 31 rows.","responses":{"200":{"description":"11305 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/athletics_by_sport":{"get":{"summary":"The `athletics_by_sport` table. 960 rows.","responses":{"200":{"description":"144683 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/athletics_by_sport_reconciliation":{"get":{"summary":"The `athletics_by_sport_reconciliation` table. 342 rows.","responses":{"200":{"description":"64263 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/athletics_history":{"get":{"summary":"The `athletics_history` table. 175 rows.","responses":{"200":{"description":"28126 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/ballot_questions":{"get":{"summary":"The `ballot_questions` table. 7 rows.","responses":{"200":{"description":"3992 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/budget_figure":{"get":{"summary":"The `budget_figure` table. 9,503 rows, split by fy into 26 files.","responses":{"200":{"description":"3899 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/capital_funding_history":{"get":{"summary":"The `capital_funding_history` table. 10 rows.","responses":{"200":{"description":"1780 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/capital_plan_fy27":{"get":{"summary":"The `capital_plan_fy27` table. 22 rows.","responses":{"200":{"description":"4075 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/dataset_document":{"get":{"summary":"The `dataset_document` table. 225 rows.","responses":{"200":{"description":"111798 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/dese_measure":{"get":{"summary":"The `dese_measure` table. 2,982 rows, split by fy into 17 files.","responses":{"200":{"description":"2175 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/extraction_plan":{"get":{"summary":"The `extraction_plan` table. 553 rows, split by fy into 15 files.","responses":{"200":{"description":"2057 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/free_cash_proof":{"get":{"summary":"The `free_cash_proof` table. 630 rows.","responses":{"200":{"description":"123266 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/fund_1301_cash_journal":{"get":{"summary":"The `fund_1301_cash_journal` table. 277 rows.","responses":{"200":{"description":"102234 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/fund_activity":{"get":{"summary":"The `fund_activity` table. 61 rows.","responses":{"200":{"description":"15037 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/grant_award":{"get":{"summary":"The `grant_award` table. 79 rows.","responses":{"200":{"description":"32720 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/ledger_snapshot":{"get":{"summary":"The `ledger_snapshot` table. 983 rows, split by fy into 3 files.","responses":{"200":{"description":"1519 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/line_history_disagreements":{"get":{"summary":"The `line_history_disagreements` table. 1,497 rows, split by fy into 15 files.","responses":{"200":{"description":"2212 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/money_assumptions":{"get":{"summary":"The `money_assumptions` table. 6 rows.","responses":{"200":{"description":"2273 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/money_classification":{"get":{"summary":"The `money_classification` table. 128 rows.","responses":{"200":{"description":"22943 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/money_edges":{"get":{"summary":"The `money_edges` table. 11 rows.","responses":{"200":{"description":"2448 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/money_gaps":{"get":{"summary":"The `money_gaps` table. 14 rows.","responses":{"200":{"description":"3012 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/ood_tuition_history":{"get":{"summary":"The `ood_tuition_history` table. 30 rows.","responses":{"200":{"description":"3897 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/placement_counts":{"get":{"summary":"The `placement_counts` table. 15 rows.","responses":{"200":{"description":"5953 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/rate_register":{"get":{"summary":"The `rate_register` table. 62 rows.","responses":{"200":{"description":"24448 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_anomalies":{"get":{"summary":"The `report_anomalies` table. 521 rows, split by fy into 15 files.","responses":{"200":{"description":"2018 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_appropriations":{"get":{"summary":"The `report_appropriations` table. 4,665 rows, split by fy into 45 files.","responses":{"200":{"description":"5851 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_capital_projects":{"get":{"summary":"The `report_capital_projects` table. 616 rows, split by fy into 15 files.","responses":{"200":{"description":"2373 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_debt":{"get":{"summary":"The `report_debt` table. 354 rows, split by fy into 9 files.","responses":{"200":{"description":"1546 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_dept_activity":{"get":{"summary":"The `report_dept_activity` table. 515 rows, split by fy into 15 files.","responses":{"200":{"description":"2313 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_elections":{"get":{"summary":"The `report_elections` table. 2,012 rows, split by fy into 19 files.","responses":{"200":{"description":"2704 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_enrollment_mcas":{"get":{"summary":"The `report_enrollment_mcas` table. 337 rows, split by fy into 15 files.","responses":{"200":{"description":"2346 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_gross_wages":{"get":{"summary":"The `report_gross_wages` table. 3,545 rows, split by fy into 22 files.","responses":{"200":{"description":"3101 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_monty_tech":{"get":{"summary":"The `report_monty_tech` table. 70 rows.","responses":{"200":{"description":"53560 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_officials":{"get":{"summary":"The `report_officials` table. 237 rows, split by fy into 13 files.","responses":{"200":{"description":"2020 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_trust_funds":{"get":{"summary":"The `report_trust_funds` table. 642 rows, split by fy into 15 files.","responses":{"200":{"description":"2289 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_valuation":{"get":{"summary":"The `report_valuation` table. 316 rows, split by fy into 9 files.","responses":{"200":{"description":"1605 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/report_vital_records":{"get":{"summary":"The `report_vital_records` table. 96 rows.","responses":{"200":{"description":"53453 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/role_classification":{"get":{"summary":"The `role_classification` table. 1,030 rows.","responses":{"200":{"description":"151800 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/special_revenue_funds":{"get":{"summary":"The `special_revenue_funds` table. 2,387 rows, split by fy into 18 files.","responses":{"200":{"description":"2610 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/sped_para_history":{"get":{"summary":"The `sped_para_history` table. 26 rows.","responses":{"200":{"description":"4054 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/sped_teacher_history":{"get":{"summary":"The `sped_teacher_history` table. 21 rows.","responses":{"200":{"description":"3396 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/sped_transport_history":{"get":{"summary":"The `sped_transport_history` table. 25 rows.","responses":{"200":{"description":"2647 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/staff_roster_counts":{"get":{"summary":"The `staff_roster_counts` table. 699 rows.","responses":{"200":{"description":"53272 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/staff_roster_entries":{"get":{"summary":"The `staff_roster_entries` table. 3,815 rows, split by fy into 15 files.","responses":{"200":{"description":"2881 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/stated_figure":{"get":{"summary":"The `stated_figure` table. 2 rows.","responses":{"200":{"description":"2226 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/total_expenses_history":{"get":{"summary":"The `total_expenses_history` table. 28 rows.","responses":{"200":{"description":"2438 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/total_salaries_history":{"get":{"summary":"The `total_salaries_history` table. 28 rows.","responses":{"200":{"description":"2466 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/variance_by_group":{"get":{"summary":"The `variance_by_group` table. 59 rows.","responses":{"200":{"description":"11720 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/workbook_figure":{"get":{"summary":"The `workbook_figure` table. 3,261 rows, split by fy into 9 files.","responses":{"200":{"description":"1727 bytes of JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}}}}