
Town Meeting and Budget Requirements 
of Lunenburg Charter and Bylaws
Town Manager Report on Administrative and Financial Operations (Section 4-2 of Charter):
Town Manager shall…assure that full and complete records of the financial and administrative activities of the town are kept and to render as often as may be required by the select board, but not less than once in each year, a full report of all town administrative and financial operations during the period reported on, which report shall be made available to the public; and, at the first session of the annual town meeting, to give an oral report summarizing the financial condition of the town and recommending strategies to be followed during said meeting to enhance the fiscal condition of the town;

School Committee Budget (Section 6-2 of Charter):

Public Hearing - At least 7 days before the meeting at which the school committee votes on its final budget request, the school committee shall cause to be published in a local newspaper a general summary of its proposed budget. The summary shall specifically indicate any major variations from the current budget and the reasons for such changes. It shall further indicate the times and places at which complete copies of its proposed budget will be available for examination by the public, and the date, time and place when a public hearing will be held by the school committee on the proposed budget. The school committee shall take its final vote on its proposed budget not sooner than at its next regularly scheduled meeting following the public hearing.

Submission to Town Manager - The budget as adopted by the school committee shall be submitted to the town manager in sufficient time to enable the town manager to consider the effect of the school department's requested appropriation upon the total town operating budget which is required to be submitted under this article.

Town Manager Budget and Budget Message (Section 6-3 of Charter):

Within the time fixed by by-law before the annual town meeting is to convene, the town manager shall submit to the finance committee a proposed operating budget for the ensuing fiscal year with an accompanying budget message and supporting documents. The town manager shall simultaneously provide for the publication on the town website of a general summary of the proposed budget. The summary shall specifically indicate any major variations from the current operating budget and the reason for such changes. The notice shall further indicate the times and places at which complete copies of the proposed operating budget will be available for examination by the public. The summary of the budget shall be mailed with the warrant to households with registered voters as provided in the town by-laws




Budget Message (Section 6-4 of Charter):

The budget message of the town manager shall include specifically, projection of the fiscal and financial needs of the town for at least the next 5 fiscal years, or such longer period as may be deemed appropriate, both as to income and expenses, as well as any substantial financial expenditures contemplated by any department, committee or board during such period, including budget programs related to infrastructure maintenance, improvement and expansion. The message shall also include a forecast of any fiscal trends which the town manager believes are likely to have an effect on the town's revenues or expenses.

The budget message of the town manager shall explain the budget for all town agencies both in fiscal terms and in terms of work programs. It shall outline proposed financial policies of the town for the ensuing fiscal year, describe important features of the budget, indicate any major variations from the current year in financial policies, expenditures and revenues together with the reasons for such changes, summarize the town's debt position and include other material as the town manager deems desirable, or the select board may reasonably require.

Budget (Section 6-5 of Charter):

The proposed operating budget shall provide a complete financial plan for all town funds and activities for the ensuing fiscal year. Except as may otherwise be required by general law, or this charter, the budget shall be in the form which the town manager deems desirable or the select board may require. In the presentation of the budget, the town manager shall utilize modern concepts of fiscal presentation so as to furnish maximum information and the best financial control. The proposed budget shall show in detail all estimated income from the proposed property tax levy and other sources and all proposed expenditures, including debt service, for the following year. The proposed budget shall be arranged to show the actual and estimated income and expenditures for the previous, current and ensuing fiscal years and shall indicate in separate sections:
(a) proposed expenditures for current operations during the ensuing fiscal year, detailed by town agency appropriation, and the method of financing such expenditures;
(b) proposed capital expenditures during the ensuing fiscal year, detailed by town agency, and the proposed method of financing each such capital expenditure;
(c) estimated surplus revenue and free cash at the end of the current fiscal year, including estimated balances in any special accounts established for specific purposes; and
(d) identification of all other available sources of funding.

Action on the Budget (Section 6-6 of Charter):
Public Hearing - Upon receipt of the proposed operating budget, the finance committee shall, forthwith, provide for the publication in a local newspaper of a notice stating the time and place, not less than 7 nor more than 14 days following such publication, at which it will hold a public hearing on the proposed operating budget as submitted.

Review - The finance committee shall consider, in open public meetings, the detailed expenditures proposed for each town agency and may confer with representatives of each such agency in connection with its review and consideration. The finance committee may require the town manager, or any other town agency, to furnish it with such additional information as it may deem necessary to assist it in its review and consideration of the proposed operating budget.

Action by Town Meeting - The finance committee shall file a report containing its recommendations for actions on the proposed operating budget, which report shall be available at least 7 days before the date on which the town meeting acts on the proposed budget. Copies of the report of the finance committee shall be available for distribution to any person requesting the same at the office of the town clerk, the office of the select board, the offices of the school administration and at the public library of the town of Lunenburg. When the budget proposed by the town manager is before the town meeting for action, it shall first be subject to amendments, if any, proposed by the finance committee before any other amendments shall be proposed.

Capital Improvements Program (Section 6-7 of Charter):

The town manager shall submit a capital improvement program to the select board and the finance committee at least 150 days before the start of each fiscal year. It shall be based on material prepared by the capital planning committee established by by-law, including:

(a) a clear and concise general summary of its contents;
(b) a list of all capital improvements proposed to be undertaken during the ensuing 5 years, with supporting information as to the needs of each capital improvement;
(c) cost estimates, methods of financing and recommended time schedules for each improvement; and
(d) the estimated annual cost of operating and maintaining each facility and piece of major equipment involved. This information is to be annually revised by the town manager with regard to the capital improvements still pending or in the process of being acquired, improved or constructed.

Powers and Duties of the Capital Planning Committee (Chapter 12, Article VI, Section 12-18, Bylaws):

The Capital Planning Committee shall establish and update a comprehensive capital plan. The Committee shall at least annually provide its materials to the Town Manager so that the Town Manager will meet the obligations of the office set forth in Section 6-7 of the Lunenburg Town Charter. The Capital Planning Committee shall be responsible for providing a complete inventory of Town property, real and personal, including school property, in conjunction with the Town Manager.

Town Meetings (Chapter 81, Bylaws):
Warrants.
Warrants for all Town Meetings shall be served by posting attested copies thereof in four or more public places in the Town, 14 days, at least, before the day appointed for said meeting, one in each Precinct:
(1) Precinct A: Town Hall, 17 Main Street.
(2) Precinct B: Whalom Variety Store, 423 Electric Avenue in the Whalom-Bakerville District.
(3) Precinct C: Powell Stone &amp; Gravel Co. Inc., 225 Leominster-Shirley Road.
(4) Precinct D: JAXX Country Variety, 1383 Massachusetts Avenue.
B. 
The warrant for any Town Meeting, with report and recommendation of the Finance Committee (required by Chapter 12, Article I, § 12-2, of these bylaws *Note- by JWD- there is no section 12-2 that I can see- seems like the reference should be back to the Charter), shall be mailed by the Select Board to each dwelling unit in the Town in which a registered voter resides, at least 14 days prior to such meeting. The warrant for the Annual Town Election shall be included in the mailing for the Annual 

Town Meeting.
The Annual Town Meeting shall be held on the first Saturday in May commencing at 9:00 a.m., and all required reports shall be made at that time. The Annual Town Election shall be held on the third Saturday in May commencing at 7:00 a.m. and ending at 5:00 p.m.

§ 81-3Closing of warrant.
All requests for the insertion of subjects in the warrant for the Annual Town Meeting shall be submitted on or before 4:00 p.m. on the 47th day before the date of commencement of the Annual Town Meeting. The requests shall be filed in the office of the Select Board and the date of filing shall be noted on the request. No subject, the insertion of which is requested after the time herein designated, shall be inserted in the warrant.

